<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>egov.sample</display-name>

	<!-- 25년 보안취약점 조치 -->
	<!-- 1) 인코딩 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>

	<!-- 2) 멀티파트를 필터 단계에서 먼저 파싱 -->
	<filter>
		<filter-name>multipartFilter</filter-name>
		<filter-class>org.springframework.web.multipart.support.MultipartFilter</filter-class>
		<init-param>
			<param-name>multipartResolverBeanName</param-name>
			<param-value>multipartResolver</param-value>
		</init-param>
	</filter>

	<!-- 3) XSS/태그 필터 -->
	<filter>
		<filter-name>HTMLTagFilter</filter-name>
		<filter-class>kr.co.wizbrain.tbn.comm.filter.HTMLTagFilter</filter-class>
	</filter>

	<!-- mapping 순서도 동일하게 -->
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.ajax</url-pattern>
	</filter-mapping>

	<!-- EASYCERTI PSM AGENT START -->
	<filter>
  <display-name>EzFilter</display-name>
    <filter-name>EzFilter</filter-name>
    <filter-class>com.easycerti.psm.log.generator.filter.EzFilter</filter-class>
    <!--<init-param><param-name>propertie.file.path</param-name><param-value>/dev/src-Filter_p/ezfilter/src/main/resources/ez_resource/ez.props.properties</param-value></init-param>-->
    <init-param><param-name>log.server.ip</param-name><param-value>192.101.1.181</param-value></init-param>
    <init-param><param-name>log.server.port</param-name><param-value>46006</param-value></init-param>
    <init-param><param-name>log.server.sub.ip</param-name><param-value>192.101.1.181</param-value></init-param>
    <init-param><param-name>log.server.sub.port</param-name><param-value>46007</param-value></init-param>
    <init-param><param-name>command.server.port</param-name><param-value>56091</param-value></init-param>
    <init-param><param-name>log.file.name</param-name><param-value>EzMon_13_</param-value></init-param>
    <init-param><param-name>system.code</param-name><param-value>13</param-value></init-param>
    <init-param><param-name>print.session.info</param-name><param-value>false</param-value></init-param>
    <init-param><param-name>print.object.info</param-name><param-value>false</param-value></init-param>
    <init-param><param-name>print.context.info</param-name><param-value>false</param-value></init-param>
    <init-param><param-name>req.id</param-name><param-value>login,userId</param-value></init-param>
    <init-param><param-name>req.id.type</param-name><param-value></param-value></init-param>
    <init-param><param-name>socket.timeout</param-name><param-value>1500</param-value></init-param>
    <init-param><param-name>socket.send.buff</param-name><param-value>1048576</param-value></init-param>
    <init-param><param-name>socket.recv.buff</param-name><param-value>146988</param-value></init-param>
    <init-param><param-name>log.limit.size</param-name><param-value>10</param-value></init-param>
    <init-param><param-name>log.level</param-name><param-value>1</param-value></init-param>
    <init-param><param-name>log.file.write</param-name><param-value>false</param-value></init-param>
    <init-param><param-name>file.log.path</param-name><param-value>C:\tbn_log</param-value></init-param>
    <init-param><param-name>max.queue.cnt</param-name><param-value>10000</param-value></init-param>
    <init-param><param-name>send.logging.size</param-name><param-value>100</param-value></init-param>
    <init-param><param-name>send.log.queue.limit</param-name><param-value>20</param-value></init-param>
    <init-param><param-name>max.thread.cnt</param-name><param-value>5</param-value></init-param>
    <init-param><param-name>monitor.term</param-name><param-value>5000</param-value></init-param>
    <init-param><param-name>offline.write.limit</param-name><param-value>10</param-value></init-param>
    <init-param><param-name>offline.write</param-name><param-value>/tmp/</param-value></init-param>
	<init-param><param-name>writethread.limitsize</param-name><param-value>100</param-value></init-param>
	<init-param><param-name>convert.executor.size</param-name><param-value>5</param-value></init-param>
	<init-param><param-name>convert.executor.que.size</param-name><param-value>-1</param-value></init-param>
	<init-param><param-name>send.executor.size</param-name><param-value>5</param-value></init-param>
	<init-param><param-name>send.executor.que.size </param-name><param-value>-1</param-value></init-param>
    <init-param><param-name>request.content.type</param-name><param-value>all</param-value></init-param>
    <init-param><param-name>mon.agent</param-name><param-value>use</param-value></init-param>
    <init-param><param-name>ssl.version</param-name><param-value>TLSv1.2</param-value></init-param>
    <init-param><param-name>filter.url</param-name><param-value>false</param-value></init-param>
    <init-param><param-name>filter.url.policy</param-name><param-value>WHITELIST_FIRST</param-value></init-param>
    <init-param><param-name>filter.url.include.file</param-name><param-value>/usr/local/PSM/EzFilter/conf/whitelist.props</param-value></init-param>
    <init-param><param-name>filter.url.exclude.file</param-name><param-value>/usr/local/PSM/EzFilter/conf/blacklist.props</param-value></init-param>
    <init-param><param-name>collect.sql</param-name><param-value></param-value></init-param>
    <init-param><param-name>collect.result</param-name><param-value></param-value></init-param>
	<init-param><param-name>jdbc.filter</param-name><param-value>false</param-value></init-param>
    <init-param><param-name>send.type</param-name><param-value>legacy</param-value></init-param>
    <init-param><param-name>session.type</param-name><param-value>request</param-value></init-param>
 </filter>
 <filter-mapping>
	<filter-name>EzFilter</filter-name>
	<url-pattern>/*</url-pattern>
 </filter-mapping>
  <listener>
	<listener-class>com.easycerti.psm.log.generator.filter.EzContextListener</listener-class>
  </listener>
	<!-- EASYCERTI PSM AGENT END -->

	<filter-mapping>
		<filter-name>multipartFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>multipartFilter</filter-name>
		<url-pattern>*.ajax</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>HTMLTagFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>HTMLTagFilter</filter-name>
		<url-pattern>*.ajax</url-pattern>
	</filter-mapping>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:egovframework/spring/context-*.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/egovframework/springmvc/dispatcher-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.ajax</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>

	<!-- 25년 보안취약점 조치 -->
	<error-page>
		<error-code>400</error-code>
		<location>/common/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/common/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>402</error-code>
		<location>/common/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/common/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/common/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/common/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/common/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/common/error.jsp</location>
	</error-page>

</web-app>